@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local('Pretendard Variable'),
    url('./PretendardVariable-subset.woff2') format('woff2-variations');
}
* {
  font-family: 'Pretendard Variable';
  transition: all 0.5s;
}
body {
  opacity: 0;
  overflow: hidden;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: black;
  justify-content: center;
  align-items: center;
  color: white;
}
canvas {
  opacity: 0;
  z-index: 999;
}
#copyCanvas {
  display: none;
  /* position: absolute; */
}
.controller {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
button {
  outline: none;
  border: none;
  padding: 10px 40px;
  background-color: rgb(24, 24, 24);
  border-radius: 5px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  margin-bottom: 10px;
}
#autoBtn {
  background-color: rgb(82, 82, 242);
}
#originalBtn,
#resetBtn {
  border: 1px solid white;
}
button:hover {
  background-color: white !important;
  color: black;
}
.filebox label {
  display: inline-block;
  padding: 15px 30px;
  color: rgb(255, 255, 255);
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #c33232;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-radius: 0.25em;
}
.filebox label:hover {
  color: black;
  background-color: white;
}
.filebox input[type='file'] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
h1 {
  font-size: 4vmax;
  margin-bottom: 3vmax;
  display: inline-block;
  margin-top: 0px;
}
span {
  font-size: 4vmax;
}
.mainWrapper.hide {
  animation: fadeOut 0.5s forwards;
}
canvas,
.controller.fadeIn {
  animation: fadeIn 0.5s forwards;
  animation-delay: 0.25s;
}
@keyframes fadeOut {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: 1;
    top: -99999px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 400px) {
  button {
    padding: 2.72vmin 7.3vmin;
  }
  .filebox label {
    padding: 2.72vw 8.3vw;
  }
  input {
    width: 50vw;
  }
}
